{
    "$schema": "https://raw.githubusercontent.com/box-project/box/main/res/schema.json",
    "main": false,
    "compression": "GZ",
    "algorithm": "SHA256",
    "output": "oh-my-pmmp.phar",
    "files": [
        "plugin.yml",
        "LICENSE"
    ],
    "directories": [
        "vendor",
        "resources",
        "src"
    ]
}