{
    "main": false,
    "files": [
        "plugin.yml",
        "LICENSE"
    ],
    "directories": [
        "src",
        "resources"
    ],
    "compression": "GZ",
    "algorithm": "SHA256",
    "output": "oh-my-pmmp.phar"
}